:root{

    /*CORES*/
    --color-white: #FFFFFF; 
    --color-blue: #11B0C8; 
    --color-black: #000000; 
    --color-gray: #0F0F0F; 
    --color-gray2: #1A1A1A; 

    /*FONTES*/
    --font-size-h1: 40px; 
    --font-size-h2: 35px;
    --font-size-h3: 30px;
    --font-size-h4: 25px;
    --font-size-body: 20px;
    --font-size-button: 20px; 
    --font-size-caption: 16px;

    --font-weight-h1: 600px;
    --font-weight-h2: 600px; 
    --font-weight-h3: 600px; 
    --font-weight-h4: 500px; 
    --font-weight-body: 400px; 
    --font-weight-button: 700px; 
    --font-weight-caption: 400px; 

    --font-family-primary:"Poppins", sans-serif;
}