*{
    border: 0; /*Zerar borda*/
    margin: 0; /*Zerar Margin*/
    padding: 0; /*Zerar Padding*/
    box-sizing: border-box; /*Respeitar largura e altura*/
}

:root{

    /*CORES*/
    --color-white: #FFFFFF; 
    --color-blue: #11B0C8; 
    --color-black: #000000; 
    --color-gray: #0F0F0F; 
    --color-gray2: #1A1A1A; 

    /*FONTES*/
    --font-size-h1: 40px; 
    --font-size-h2: 40px;
    --font-size-button: 20px; 
    --font-size-caption: 20px;

    --font-weight-h1: 700px;
    --font-weight-body: 400px;

    --font-family-primary:"Poppins", sans-serif; /* Variável para a familia da fonte */
}